.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80");
    /* to stop it from repeating */
    background-size: cover;
}

.logintitle{
    font-size: 50px;
    color: white;
}

.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginform > label{
    color: white;
    margin: 10px 0;
}

.logininput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.loginbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginbutton:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.registerbutton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px; 
}